.listOfFilms {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 12em;
}

.film-div {
    width: 200px;
    height: 200px;
    cursor: pointer;
}

.filmsCategories {
    width: auto;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 15%);
    margin-left: 16.2rem;
}

.dataFilm {
    background-color: #05386b;
    padding: 6px;
    width: 40%;
    border-radius: 6px;
    left: 3px;
    top: 3px;
    text-align: center;
}