.session {
  text-align: center;
  height: 80px;
  align-items: center;
  padding: 16px;
  transition: 0.2s linear;
}

.session p:first-child {
  font-size: 20px;
}

.session p:last-child {
  font-size: 16px;
}

.selectSession {
  background-color: #05386b;
  border-radius: 12px;
}

.selectSession p {
  color: #edf5e1;
}

.movieSession {
  display: grid;
  grid-template-columns: 20% 1fr;
  margin-left: 24rem;
}

.poster {
  width: 250px;
  height: 380px;
  border-radius: 12px;
}

.listOfMovies {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}
