@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Object Sans Regular";
  src: url("../fonts/ObjectSans/ObjectSans-Regular.otf");
}

@font-face {
  font-family: "Object Sans Heavy";
  src: url("../fonts/ObjectSans/ObjectSans-Heavy.otf");
}

body {
  background-color: #90d2a9;
  color: #05386b;
  font-family: "Object Sans Regular";
  overflow-x: hidden;
}

button {
  font-family: "Object Sans Regular";
}

.boldFont {
  font-family: "Object Sans Heavy";
}

.colorWhite {
  color: #edf5e1;
}

.blackout {
  transition: 0.3s ease;
  pointer-events: none;
  opacity: 0;
  height: 100vh;
  width: 100%;
  z-index: 10;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

.hallDiv {
  background-color: #90d2a9;
  position: absolute;
  top: 0;
  left: 33rem;
  width: auto;
  z-index: 60;
  opacity: 0;
  padding: 24px;
  border-radius: 12px;
  transition: 0.3s ease;
  pointer-events: none;
}

.hall {
  background-color: #05386b;
  padding: 12px;
  border-radius: 12px;
}

.seatNumber {
  background-color: #5cdb95;
  color: #edf5e1;
  padding: 6px;
  border-radius: 4px;
  width: 40px;
  text-align: center;
  margin: 1rem;
  font-size: larger;
  cursor: pointer;
  transition: 0.3s linear;
}

.hallSeats {
  display: grid;
  grid-template-columns: 1fr;
}

.seats {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
}

.infoCost {
  display: grid;
  grid-template-columns: 670px 100px;
}

.buyInfo {
  display: grid;
  grid-template-columns: repeat(2, 9.5rem);
  align-items: center;
}

.selectedSessionInHall {
  text-align: center;
  width: 80px;
  padding: 4px;
}

.aboutHall {
  display: grid;
  grid-template-columns: 16rem 42rem 2rem;
  text-align: center;
  align-items: center;
}

.promocodeInfo {
  display: grid;
  grid-template-columns: 12rem;
  align-items: center;
  text-align: center;
}

.promocodeInput {
  padding: 4px;
  width: 12rem;
  border-radius: 4px;
  background-color: #05386b;
  color: #edf5e1;
  font-size: large;
  text-align: center;
}

.buyTicketBtn {
  padding: 8px;
  height: 40px;
  width: 140px;
  border-radius: 6px;
  background-color: #05386b;
}

.screenText {
  border-bottom: 2px solid snow;
  text-align: center;
  font-size: larger;
}

.numberRow {
  text-align: center;
  align-items: center;
  margin-top: 20px;
}

.crosBtn {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.hallBlackout {
  transition: 0.3s ease;
  pointer-events: none;
  opacity: 0;
  height: 66vh;
  width: 100%;
  z-index: 10;
  border-radius: 12px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.orderTickets {
  z-index: 60;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #5cdb95;
  height: 66vh;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
  padding: 12px;
  border-radius: 12px;
}

.backDiv {
  display: grid;
  grid-template-columns: 50px 200px;
}

.backDiv img {
  cursor: pointer;
}

.inputsOrders {
  display: grid;
  gap: 42px;
}

.inputAndTextOrder {
  display: flex;
  flex-direction: column;
}

.inputAndTextOrder input {
  width: 24.5rem;
  border-radius: 6px;
  padding: 6px;
  background-color: #05386b;
  color: #edf5e1;
  font-size: larger;
}

.buyDiv {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.buyDiv button {
  background-color: #05386b;
  color: #edf5e1;
  padding: 8px;
  border-radius: 6px;
}

.textAboutData {
  width: 400px;
}

.arrowSlider {
  display: flex;
  position: absolute;
  background-color: #edf5e1;
  border-radius: 12px;
  padding: 6px;
  text-align: center;
  align-items: center;
  z-index: 5;
}

.arrowSlider:first-child {
  top: 8rem;
  left: 2rem;
}

.arrowSlider:last-child {
  top: 8rem;
  left: 108.5rem;
}
