@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Object Sans Regular";
  src: url("../fonts/ObjectSans/ObjectSans-Regular.otf");
}

@font-face {
  font-family: "Object Sans Heavy";
  src: url("../fonts/ObjectSans/ObjectSans-Heavy.otf");
}

body {
  background-color: #90d2a9;
  color: #05386b;
  font-family: "Object Sans Regular";
}

button {
  font-family: "Object Sans Regular";
}

.boldFont {
  font-family: "Object Sans Heavy";
}

.colorWhite {
  color: #edf5e1;
}
